# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/sonarqube
/.pnp
.pnp.js

# Ignore npm lock files
package-lock.json

# testing
/coverage

# production
/build
/sonarqube
/.scannerwork
# misc
.DS_Store
.env.dev
.env.prod
.env.test
.package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
