/* Css For Cursor */
.cursor-link {
    cursor: pointer;
}

/* Css For CustomField */
.customField-delete-icon {
    margin-top: 2.2rem;
}

/* Css For documentType */
.documentType-delete-icon {
    margin-top: 2rem;
}
